:root {
  --text-blue: #005fac;
  --text-black: #151414;
  --text-gray1: #444343;
  --text-gray2: #737272;
  --text-white: #ffffff;
  --text-green:#16D887;
  --font: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

/* **** Banner section start from here ****** */

.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(./images/banner/banner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 140px;
}

.banner-items {
  margin-right: 230px;
  padding-top: 220px;

  color: var(--text-white);
  text-align: right;
}

.banner-title {
  width: 600px;
  margin-left: auto;

  font-size: 65px;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-description {
  width: 500px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  margin: 0 0 35px auto;
}

.btn-primary {
  width: 160px;
  height: 65px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-blue);
  transition: .3s;

}

/*  <!-- My failures start from here --> */

.body-content {
  max-width: 1200px;
  margin: auto;
}

.failure-container {
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.failure-text-container {
  padding-top: 125px;
}
.failure-title {
  color: var(--text-black);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-right: auto;
}

.failure-description, .failure-list-itam {
  max-width: 420px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 26px;
  color: var(--text-gray1);
  margin-right: auto;
}

.failure-list-itam {
  margin-bottom: 8px;
  list-style: none;

}

.failure-list-itam> i {
  color: var(--text-green);
  font-size: 20px;
  padding-right: 5px;
}

/*   My Plan start from here  */

.myplan-container {
  padding-bottom: 130px;
  text-align: center;

}

.myplan-title{
  color: var(--text-black);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.myplan-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myplan-item-icon{
  margin-bottom: 25px;
}

.myplan-item-title {
  color: var(--text-black);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.myplan-item-info {
  color: var(--text-gray2);
  font-size: 25px;
  font-weight: 500;
}

/*   Small Banner start from here  */
.small-banner-container {
  height: 300px;
  margin-bottom: 130px;

  background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('./images/watch.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.small-banner-text-container {
  margin-left: 65px;
  padding-top: 60px;
}

.small-banner-title {
  color: var(--text-white);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

/*   Footer section start from here  */
.footer-container {
  background-color: var(--text-black);
  color: var(--text-white);
}

/* Footer Left Section */

.footer-items-container {
  max-width: 1200px;
  margin: auto ;
  padding: 200px 0 130px;

  display: flex;
  justify-content: space-between;
}

.footer-left-column-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-left-column-description {
  max-width: 500px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 26px;
  margin-right: auto;
}
.footer-left-column-emil, .footer-left-column-phone {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 26px;
  margin-right: auto;
}
/* Social midea icons */


.footer-left-column-social-media-icons {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;

}

.icon-container {
  width: 60PX;
  height: 60PX;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}


/* .icon-container a {
  display: inline-block;
  
} */


.social-madia-icon {
  transition: 0.3s;

}

.social-madia-icon:hover {
  border: 2px solid var(--text-green);
  border-radius: 50%;

}

/* Footer Right section */

.footer-right-column-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 32px;
}

#email {
  width: 330px;
  height: 64px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  padding-left: 22px;
  color: var(--text-gray1);
  margin-bottom: 20px;
  font-weight: 500;
  outline: none;

}

.btn-subscribe {
  width: 170px; 
  background-color: var(--text-blue);
  color: var(--text-white);

}

/* Button Hover */
.btn-primary:hover {
  background-color: var(--text-gray2);
  color: var(--text-green);
  border: 1px solid var(--text-green);
}




